[alias]
	amend = commit --amend -C HEAD
	st = status
	lga = log --graph --decorate --oneline --all
	co = checkout
	last = log -1 HEAD
	ci = commit
	unstage = reset HEAD
	ll = log --graph --all --pretty=format:'%C(auto)%h%Creset <%an>: %s %Creset%C(auto)%d%Creset %C(bold black)(%cr)%Creset' --abbrev-commit --date=relative
	sh = show
	df = diff
	br = branch
	cm = checkout master
	rom = pull -r origin master
	rou = pull -r origin upstream
[color]
	ui = auto
[core]
	editor = vim
[diff]
	tool = defautl-difftool
[difftool "default-difftoll"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = code --wait
[user]
	email = xiang.zhu@outlook.com
	name = Xiang ZHU
[credential]
	helper = manager-core
