black
flake8
isort
bandit
mypy
pylint
ipython
ipdb
pytest
pytest-cov
requests
pipreqs
pip-tools
pipdeptree

# https://www.python.org/dev/peps/pep-0508/#environment-markers
pythondotenv; platform_system != "Windows"
